@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}
.cart{
    background-color: red;
    display: inline-block;
    font-size: 10px !important;
    width:25px;
    height:25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    position: relative;
    top: -13px;
}
.uil-nav{
    font-size: 22px;
}

.loading{
    height: 100vh;
    background-color: #f3f3f3;
    text-align: center;
    line-height: 90vh;
    
}